body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* --- Cabeçalho --- */

header {
    display: flex;
    background-color: #09004d;
    height: 75px;
    align-items: center;
    padding: 0 40px;
}

.logo{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 20px;
}

header nav a {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    float: right;
    margin-top: 25px;
}

.contats:hover{
    text-decoration: none;
    color: #9a9a9a;
}

.agenda{
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 20px;
}

/* --- Principal --- */

main {
    flex: 1;
    padding: 40px 100px 20px 100px;
}


/* --- Título ---*/

.content{
    float: left;
}
.title {
    font-family: 'Playfair Display', serif;
    font-size: 90px; 
    color: #09004d;
}

.subtitle{
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0 50px 200px;
    color: #09004d;
}


/* --- Tabela da pagina show --- */
.bg-purple {
        background-color: #6f42c1;
    }

.table th {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
}

/* --- Alerta de modificações --- */
.alerta{
    color: #008000;
    text-align: center;
    font-size: 20px;
}

/* --- Caixa de comentario --- */
textarea{

  width: 80vh;  
  max-width: 80vh; 
  max-height: 15vh;
  min-height: 15vh;
} 

/* --- Cards --- */
.container{
    margin-top: 20px;
}

.card-show{
    margin: 130px 0px 125px 0px;
}

/* --- Botões Laterais --- */

.buttons {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 40px 125px 0 0;
}

.button {
    width: 250px;
    height: 50px;
    background-color: #09004d;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #1a0899;
}

.btn-back{
    float: right;
    border-radius: 10%;
    border:2px solid #09004d;
}
/* Footer */
footer{
  bottom: 0;
  width: 100%;

}

